@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: black;
    min-height: 100vh;
}
.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.mainLink {
    color: black;
}

